In [5]:
import numpy as np

In [6]:
a=np.array([2,3,4,5])

In [7]:
b=np.array([7,8,9,5])

In [8]:
a*b

array([14, 24, 36, 25])

# Dot Product

In [9]:
def vector_vector_multiplication(a,b):
    assert a.shape[0]==b.shape[0]
    n=a.shape[0]
    result=0.0
    for i in range (n):
        result = result + a[i] * b[i]
    return result

In [10]:
vector_vector_multiplication(a,b)

np.float64(99.0)

## Dot Product using built in function of Numpy

In [11]:
a.dot(b)

np.int64(99)

## Matrix product

In [19]:
u=np.array([[1,2,3],[4,2,3],[5,6,8]])

In [23]:
v=np.array([[1],[14],[2]])

In [24]:
u.dot(v)

array([[ 35],
       [ 38],
       [105]])

# Pandas data frames

In [13]:
import pandas as pd

In [14]:
import numpy as np

In [69]:
data=[
    ['Nissan','Stanza',1991,138, 4,'MANUAL','sedan', 2000],
    ['Hyundai','Sonata', 2017, None, 4, 'AUTOMATIC','Sedan' ,27150],
    ['Lotus','Else',2010, 218,14,'MANUAL','convertiblet' ,54990],
    ['GMC','Acadia',2017, 194,4,'AUTOMATIC','4dr SUV', 34450],
    ['NIssan','Frontier',2017,261,6,'MANUAL','Pickup', 323401]
]
columns = [
    'Make','Model','Year','Engine HP','Engine Cylinders',
     'Transmission Type','Vehicle Style','MSRP'
]

In [70]:
df=pd.DataFrame(data,columns=columns)

In [71]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401

In [72]:
df.head(2)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150

In [73]:
df.tail(2)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401

# Series

In [74]:
df.Make

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     NIssan
Name: Make, dtype: object

In [75]:
df[['Engine HP','Make']]

   Engine HP     Make
0      138.0   Nissan
1        NaN  Hyundai
2      218.0    Lotus
3      194.0      GMC
4      261.0   NIssan

In [76]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401

In [77]:
df['id']=[1,2,3,4,5]

In [78]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000,1
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,2
2,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990,3
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,4
4,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401,5

In [79]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [80]:
df.loc[2]

Make                        Lotus
Model                        Else
Year                         2010
Engine HP                   218.0
Engine Cylinders               14
Transmission Type          MANUAL
Vehicle Style        convertiblet
MSRP                        54990
id                              3
Name: 2, dtype: object

In [81]:
df.index=['1','2','3','4','5']

In [82]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
1,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000,1
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,2
3,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990,3
4,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,4
5,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401,5

In [83]:
df.iloc[['1','2']]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,2
3,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990,3

In [84]:
df.iloc[1,2]

np.int64(2017)

## Filtering

In [85]:
df['Year']>=2015

1    False
2     True
3    False
4     True
5     True
Name: Year, dtype: bool

In [86]:
df[
    df['Year']>=2015
    ]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
2,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,2
4,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,4
5,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401,5

In [87]:
df[
    df['Make']=='GMC'
    ]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
4,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,4

In [88]:
df=df.reset_index(drop=True)

In [89]:
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,MSRP,id
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000,1
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150,2
2,Lotus,Else,2010,218.0,14,MANUAL,convertiblet,54990,3
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450,4
4,NIssan,Frontier,2017,261.0,6,MANUAL,Pickup,323401,5

## String Operations

In [90]:
'WrituRaj'.lower()

'writuraj'

In [91]:
df['Vehicle Style'].str.lower()

0           sedan
1           sedan
2    convertiblet
3         4dr suv
4          pickup
Name: Vehicle Style, dtype: object

In [92]:
'Writu Raj Chakma'.replace(' ','_')

'Writu_Raj_Chakma'

In [94]:
df['Vehicle Style']=df['Vehicle Style'].str.replace(' ','_').str.lower()

In [95]:
df['Vehicle Style']

0           sedan
1           sedan
2    convertiblet
3         4dr_suv
4          pickup
Name: Vehicle Style, dtype: object

# Summarizing Operations (EDA)

In [96]:
df.MSRP.describe()

count         5.000000
mean      88398.200000
std      132729.822464
min        2000.000000
25%       27150.000000
50%       34450.000000
75%       54990.000000
max      323401.000000
Name: MSRP, dtype: float64

# Missing Value

In [99]:
df.isnull().sum()

Make                 0
Model                0
Year                 0
Engine HP            1
Engine Cylinders     0
Transmission Type    0
Vehicle Style        0
MSRP                 0
id                   0
dtype: int64

# Group By

In [101]:
df.groupby('Transmission Type').MSRP.mean()

Transmission Type
AUTOMATIC     30800.0
MANUAL       126797.0
Name: MSRP, dtype: float64